body {
    background-color: #f0f0f0;
    font-family: 'Abel', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;

}
#fancy-header{
    font-size: 32px;
    margin: 15%;
}

#not-so-fancy{
    font-size: 28px;
    margin: 15%;
}

.btn-circle {
    width: 105px;
    height: 105px;
    text-align: center;
    padding: 6px 0;
    margin: 5px;
    font-size: 12px;
    line-height: 1;
    border: 5px solid #fff;
    border-radius: 52.5px;
    background-color: blue;
}

.badge-circle {
    width: 18px;
    height: 18px;
    text-align: center;
    padding: 9px 0;
    font-size: 12px;
    border-radius: 9px;
    color: black;
    font-weight: bold;
}

#design,#develop,#support,#host{
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    color: #fff;
}

.selected-work-card {
    background-color: #f0f0f0
}

.img-border {
    border: 5px solid #e6e6e6;
}

#design{
    background: #e6563b;
}

#develop{
    background: #eb9d3a;
}
#support{
    background: #7cb06c;
}
#host{
    background: #00aba9;
}

#badge1 {
    background: #e6563b;
    font-weight: bold;
}

#badge2 {
    background: #eb9d3a;
}

#badge3 {
    background: #7cb06c;
}

#badge4 {
    background: #00aba9;
}

.badge {
    font-family: Anton;
    font-weight: bold;
    font-size: 7px;
}
