*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

/*---------Font classes---------*/
.anton{
    font-family: 'Anton', sans-serif;
}

.abel{
    font-family: 'Abel', sans-serif;
}

/*---------F Navigation---------*/
.f-navbar{
    margin: 30px 0;
    background: transparent;
    padding: 0;
}

.type-logo{
    font-size: 48px;
    margin: 5px;
    border: none;
}

.nav-link {
    margin: 5px 10px;
    color: #000;
}

.on-top{
    z-index: 2;
}

.xs-stripe{
    background: #fff;
    height: 60px;
    position: absolute;
    margin-bottom: 110px;
    z-index: 1;
}

.white-stripe{
    background: #fff;
    height: 60px;
    position: absolute;
    z-index: 1;
}

/*---------Header and sub-header---------*/
#fancy-header{
    font-size: 48px;
    margin: 40px 0;
}

#not-so-fancy{
    font-size: 28px;
    margin: 40px 0;
}

/*---------Circle Navigation links---------*/
.circle-button{
   padding: 5px;
}

.circle {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 6px solid #fff;
}

#button1 {
    background: #E6563B;
    color: white;
}
#button2 {
    background: #DEA03D;
    color: white;
}
#button3 {
    background: #7CB06C;
    color: white;
}
#button4 {
    background: #00ABA9;
    color: white;
}


/*---------cards---------*/
.featured {
    font-size: 12px;
}

.selected-work-card {
    background-color: #f0f0f0;
}

.img-border img {
    background: #e6e6e6;
    object-fit: cover;
}

.card{
    background-color: #f0f0f0;
    border: none;
}

.card-body {
    background-color: #f0f0f0;
    padding: 5px;
}


/*---------card badges---------*/
.badge {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    color: black;
    font-weight: normal;
}
.badge1 {
    background: #e6563b;
}

.badge2 {
    background: #eb9d3a;
}

.badge3 {
    background: #7cb06c;
}

.badge4 {
    background: #00aba9;
}


/*---------aside cards---------*/
.img {
    height: 40px;
    width: 40px;
    margin: 5px;
    object-fit: cover;
}

.fancy-tweet {
    font-size: 14px;
    font-weight: bold;
}

.fa-twitter {
    color: #38a1f3;
}

.article {
     font-size: 18px;
     line-height: 1.5em;
 }

.tweet {
    font-size: 12px;
    line-height: 15px;
}